In [2]:
import pandas as pd
import numpy as np
from datetime import date, datetime, timedelta
from arch import arch_model
import yfinance as yf
from tqdm import tqdm

In [4]:
# Re-importing the test.csv dataset using the correct date column name
Results = pd.read_csv('./results.csv', index_col='Date', parse_dates=True)
Results = Results.drop(Results.columns[0],axis=1)

Results

ValueError: 'Date' is not in list

In [6]:
## Merge with OG Garch student

OG_Forecast = pd.read_csv('./Evaluation/5_MTL_GARCH_AAPL.csv', index_col='Date_Forecast', parse_dates=True)
OG_Forecast = OG_Forecast/100
# M_OG_Forecast = OG_Forecast.join(Results,how='inner')
# M_OG_Forecast.to_csv('MPT_GPT_2.csv')
OG_Forecast

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-28     0.000353  0.000373  0.000401  0.000379  0.000227
2008-01-04     0.000383  0.000401  0.000357  0.000426  0.000868
2008-01-11     0.000315  0.000366  0.000421  0.000400  0.000861
2008-01-18     0.000312  0.000411  0.000382  0.000435  0.000951
2008-01-25     0.000506  0.000331  0.000386  0.000407  0.000774
...                 ...       ...       ...       ...       ...
2015-11-27     0.000239  0.000244  0.000230  0.000371  0.000156
2015-12-04     0.000282  0.000286  0.000206  0.000192  0.000424
2015-12-11     0.000177  0.000282  0.000213  0.000178  0.000303
2015-12-18     0.000472  0.000406  0.000469  0.000431  0.000379
2015-12-25     0.000195  0.000241  0.000280  0.000198  0.000288

[418 rows x 5 columns]

In [43]:
M_OG_Forecast

                  h1        h2        h3        h4    TrueSD
2008-02-08  0.037726  0.037870  0.038015  0.038159  0.026639
2008-02-15  0.063395  0.063731  0.064068  0.064405  0.018960
2008-02-22  0.044649  0.044897  0.045144  0.045392  0.013653
2008-02-29  0.066861  0.067234  0.067606  0.067979  0.025985
2008-03-07  0.086794  0.087297  0.087800  0.088303  0.025200
...              ...       ...       ...       ...       ...
2015-11-13  0.038929  0.039151  0.039373  0.039595  0.028272
2015-11-20  0.038265  0.038473  0.038681  0.038890  0.029000
2015-11-27  0.036991  0.037178  0.037366  0.037553  0.019059
2015-12-04  0.037158  0.037308  0.037457  0.037606  0.027086
2015-12-11  0.040698  0.040929  0.041161  0.041392  0.027107

[410 rows x 5 columns]

In [40]:
# Re-importing the test.csv dataset using the correct date column name
Forecasts = pd.read_csv('./test.csv', index_col='Date_Forecast', parse_dates=True)
Merged = Forecasts.join(Results,how = 'inner')
Merged

In [32]:
Merged_gpt = Merged[['h1','h2','h3','h4','TrueSD']]
Merged_gpt.to_csv('MPT_GPT.csv')

In [18]:

Forecast_1 = Merged[['h1','TrueSD']]
Forecast_5 = Merged[['CV_GARCH_h1','TrueSD']]

Forecast_2 = Merged[['h2','TrueSD']]
Forecast_2 = Forecast_2.copy()
Forecast_2['h2'] = Forecast_2.h2.shift(1)
Forecast_2 = Forecast_2.dropna()

Forecast_3 = Merged[['h3','TrueSD']]
Forecast_3 = Forecast_3.copy()
Forecast_3['h3'] = Forecast_3.h3.shift(2)
Forecast_3 = Forecast_3.dropna()

Forecast_4 = Merged[['h4','TrueSD']]
Forecast_4 = Forecast_4.copy()
Forecast_4['h4'] = Forecast_4.h4.shift(3)
Forecast_4 = Forecast_4.dropna()

## Evaluate

In [7]:
# Calculate MAPE and MSE for each row
Forecast_1['MAPE'] = (abs(Forecast_1['TrueSD'] - Forecast_1['h1']) / Forecast_1['TrueSD']) * 100
Forecast_1['MSE'] = (Forecast_1['TrueSD'] - Forecast_1['h1']) ** 2
Forecast_1['RMSE'] = np.sqrt((Forecast_1['TrueSD'] - Forecast_1['h1'])**2)

Forecast_1

NameError: name 'Forecast_1' is not defined

In [20]:
# Calculate MAPE and MSE for each row
Forecast_5['MAPE'] = (abs(Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1']) / Forecast_5['TrueSD']) * 100
Forecast_5['MSE'] = (Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1']) ** 2
Forecast_5['RMSE'] = np.sqrt((Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1'])**2)

Forecast_5

/var/folders/d9/zs98dym14hj8prgt5vm0p3580000gn/T/ipykernel_92891/420254421.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Forecast_5['MAPE'] = (abs(Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1']) / Forecast_5['TrueSD']) * 100
/var/folders/d9/zs98dym14hj8prgt5vm0p3580000gn/T/ipykernel_92891/420254421.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Forecast_5['MSE'] = (Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1']) ** 2
/var/folders/d9/zs98dym14hj8prgt5vm0p3580000gn/T/ipykernel_92891/420254421.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Forecast_5['RMSE'] = np.sqrt((Forecast_5['TrueSD'] - Forecast_5['CV_GARCH_h1'])**2)

            CV_GARCH_h1    TrueSD        MAPE       MSE      RMSE
2008-02-08     0.051838  0.026639   94.595469  0.000635  0.025199
2008-02-15     0.088495  0.018960  366.748093  0.004835  0.069535
2008-02-22     0.081003  0.013653  493.306602  0.004536  0.067350
2008-02-29     0.074373  0.025985  186.219484  0.002341  0.048388
2008-03-07     0.067109  0.025200  166.299866  0.001756  0.041908
2008-03-14     0.071777  0.025722  179.049837  0.002121  0.046055
2008-03-21     0.068291  0.033101  106.307778  0.001238  0.035189
2008-03-28     0.072578  0.035881  102.273179  0.001347  0.036697
2008-04-04     0.070617  0.033401  111.421692  0.001385  0.037216
2008-04-11     0.076014  0.028706  164.802365  0.002238  0.047308
2008-04-18     0.078187  0.024916  213.796312  0.002838  0.053270
2008-04-25     0.085749  0.018562  361.964450  0.004514  0.067187
2008-05-02     0.078340  0.027941  180.375590  0.002540  0.050399
2008-05-09     0.075116  0.029219  157.081487  0.002107  0.045897
2008-05-16     0.073819  0.031497  134.371306  0.001791  0.042323
2008-05-23     0.074020  0.024716  199.484115  0.002431  0.049304
2008-05-30     0.076170  0.023541  223.557081  0.002770  0.052629
2008-06-06     0.074896  0.014914  402.169201  0.003598  0.059981
2008-06-13     0.076967  0.015005  412.950624  0.003839  0.061962
2008-06-20     0.073143  0.009351  682.184933  0.004069  0.063792
2008-06-27     0.075337  0.020175  273.412578  0.003043  0.055162
2008-07-04     0.077744  0.015547  400.054084  0.003868  0.062197
2008-07-11     0.075796  0.014673  416.579753  0.003736  0.061123
2008-07-18     0.067174  0.014001  379.793995  0.002827  0.053173
2008-07-25     0.066918  0.014026  377.095501  0.002798  0.052892
2008-08-01     0.066574  0.014593  356.204378  0.002702  0.051981
2008-08-08     0.068698  0.016246  322.870993  0.002751  0.052452
2008-08-15     0.069553  0.014764  371.109812  0.003002  0.054790
2008-08-22     0.069546  0.016620  318.453608  0.002801  0.052926
2008-08-29     0.069573  0.017651  294.150864  0.002696  0.051921
2008-09-05     0.070112  0.022098  217.275933  0.002305  0.048014
2008-09-12     0.069918  0.049031   42.598486  0.000436  0.020887
2008-09-19     0.070721  0.089235   20.748031  0.000343  0.018515
2008-09-26     0.068996  0.103987   33.649236  0.001224  0.034991
2008-10-03     0.068675  0.101079   32.057753  0.001050  0.032404
2008-10-10     0.088319  0.133225   33.706960  0.002017  0.044906
2008-10-17     0.143462  0.077850   84.279018  0.004305  0.065611
2008-10-24     0.157187  0.079961   96.579954  0.005964  0.077226
2008-10-31     0.447152  0.084076  431.843188  0.131824  0.363076
2008-11-07     0.722081  0.090800  695.246576  0.398516  0.631281
2008-11-14     0.616257  0.089926  585.293797  0.277025  0.526331
2008-11-21     0.614942  0.083854  633.345638  0.282054  0.531087

In [ ]:
# Calculate MAPE and MSE for each row
Forecast_2['MAPE'] = (abs(Forecast_2['TrueSD'] - Forecast_2['h2']) / Forecast_2['TrueSD']) * 100
Forecast_2['MSE'] = (Forecast_2['TrueSD'] - Forecast_2['h2']) ** 2
Forecast_2['RMSE'] = np.sqrt((Forecast_2['TrueSD'] - Forecast_2['h2'])**2)
Forecast_2

## GARCH (1,1)

In [190]:
#Return calculation
def ReturnCalculation (Database,lag):
    dimension=Database.shape[0];dif=lag;Out=np.zeros([dimension-dif])
    for i in range(dimension-dif):
        Out[i]=(np.log(Database['Close'][i+dif])-np.log(Database['Close'][i]))
    return np.append(np.repeat(np.nan, dif),Out), Database.index

#STD Calculation
def SDCalculation (DailyReturns, LagSD):
    dimension=DailyReturns.shape[0]; dif=LagSD; Out=np.zeros([dimension-dif])
    for i in range (dimension-dif):
        Out[i]=np.std(DailyReturns[i:i+LagSD],ddof=1)
    return np.append(np.repeat(np.nan, dif),Out)

#STD Calculation
def TrueSDCalculation (DailyReturns, LagSD):
    dimension=DailyReturns.shape[0]; dif=LagSD; Out=np.zeros([dimension-dif+1])
    for i in range (dimension-dif+1):
        Out[i]=np.std(DailyReturns[i:i+LagSD],ddof=1)
    return np.append(Out,np.repeat(np.nan, dif-1))



def M_DatabaseGeneration (Database_daily, Lag, LagSD):
    DailyReturns, Index = ReturnCalculation(Database_daily,Lag)    
    TrueSD = TrueSDCalculation(DailyReturns, LagSD)    
    Data = pd.DataFrame({'DailyReturns': DailyReturns,'TrueSD': TrueSD})
    Data = Data.set_index(Index)
    Data = Data.dropna() 
    weekly_returns = Data['DailyReturns'].resample('W-FRI').sum()
    weekly_average_volatility = Data['TrueSD'].resample('W-FRI').mean()*np.sqrt(5)
 
    
    Data = pd.DataFrame({'DailyReturns': weekly_returns,'TrueSD': weekly_average_volatility})
    return Data.dropna()

In [191]:
start='2008-01-01'; end='2015-12-31'; 
asset = "^GSPC"
Lag=1; LagSD=5
IndexEndDays=yf.download(asset,start=start,  end=end, progress=False).resample('W-FRI').last().index
Database=yf.download(asset,start, end, progress=False).resample('W-FRI').last()
Data = M_DatabaseGeneration(Database, Lag, LagSD)
Data

            DailyReturns    TrueSD
Date
2008-01-11     -0.007545  0.093263
2008-01-18     -0.055645  0.096872
2008-01-25      0.004082  0.075868
2008-02-01      0.047558  0.078706
2008-02-08     -0.047047  0.054165
...                  ...       ...
2015-11-06      0.009496  0.055725
2015-11-13     -0.036955  0.066508
2015-11-20      0.032165  0.056196
2015-11-27      0.000450  0.052601
2015-12-04      0.000756  0.052658

[413 rows x 2 columns]

In [33]:
from arch.__future__ import reindexing

In [74]:
#Fitting of GARCH(1,1)
def GARCH_Model_Student (Data):
    AR_Data=Data['DailyReturns']*100
    GARCH11 = arch_model(AR_Data, dist ='t')
    res_GARCH11 = GARCH11.fit(disp='off')
    CV_GARCH11 = res_GARCH11.conditional_volatility
    For_CV_GARCH11 = np.array(res_GARCH11.forecast(horizon=4).variance.dropna())
    return GARCH11, res_GARCH11, CV_GARCH11, For_CV_GARCH11

In [77]:
ARCH11, res_GARCH11, CV_GARCH11, For_CV_GARCH11 = GARCH_Model_Student(Data)

In [108]:

Lag=1; LagSD=2; Timestep=10; Dropout=0; LearningRate=0.01; Epochs=100

DataValidation = DatabaseGeneration(yf.download(asset,start='2000-01-01', end=date.today()+timedelta(days=1), progress=False).resample('W-FRI').last(), Lag, LagSD)

In [109]:
DataValidation

            DailyReturns    TrueSD
Date
2000-01-14      0.016294  0.023097
2000-01-21     -0.016371  0.029426
2000-01-28     -0.057985  0.073618
2000-02-04      0.046127  0.051355
2000-02-11     -0.026500  0.002493
...                  ...       ...
2023-07-07     -0.011624  0.025130
2023-07-14      0.023915  0.012074
2023-07-21      0.006839  0.002281
2023-07-28      0.010065  0.023383
2023-08-04     -0.023003  0.015085

[1230 rows x 2 columns]

In [138]:
def ModifiedDatabaseGeneration(Database, Lag, LagSD):
    DailyReturns, Index = ReturnCalculation(Database, Lag)
    DailyReturnsOld =  np.append(np.repeat(np.nan, 1),DailyReturns[0:(DailyReturns.shape[0]-1)])
    # If LagSD is 1, use absolute returns as volatility measure
    if LagSD == 1:
        TrueSD = np.abs(DailyReturns)
        SD = np.abs(DailyReturns)
    else:
        TrueSD = TrueSDCalculation(DailyReturns, LagSD)
        SD = SDCalculation (DailyReturns, LagSD)
    
    Data = pd.DataFrame({'DailyReturns': DailyReturns, 'SD': SD, 'TrueSD': TrueSD, 'DailyReturnsOld': DailyReturnsOld})
    Data = Data.set_index(Index) 
    return Data.dropna()

In [141]:
yf.download(asset,start=IndexEndDays[3].date()-timedelta(days=780), end=IndexEndDays[3].date(), progress=False).resample('W-FRI').last()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2005-12-09,1255.839966,1263.079956,1254.239990,1259.369995,1259.369995,1896290000
2005-12-16,1270.939941,1275.239990,1267.319946,1267.319946,1267.319946,2584190000
2005-12-23,1268.119995,1269.760010,1265.920044,1268.660034,1268.660034,1285810000
2005-12-30,1254.420044,1254.420044,1246.589966,1248.290039,1248.290039,1443500000
2006-01-06,1273.479980,1286.089966,1273.479980,1285.449951,1285.449951,2446560000
...,...,...,...,...,...,...
2007-12-28,1479.829956,1488.010010,1471.699951,1478.489990,1478.489990,2420510000
2008-01-04,1444.010010,1444.010010,1411.189941,1411.630005,1411.630005,4166000000
2008-01-11,1419.910034,1419.910034,1394.829956,1401.020020,1401.020020,4495840000
2008-01-18,1333.900024,1350.280029,1312.510010,1325.189941,1325.189941,6004840000
2008-01-25,1340.130005,1355.150024,1334.310059,1352.069946,1352.069946,5735300000

In [ ]:

def WeeklyRealizedVolatility(asset, start_date, end_date):
    # Download daily data
    daily_data = yf.download(asset, start=start_date, end=end_date, progress=False)
    
    # Compute daily returns
    daily_returns = daily_data['Close'].pct_change().dropna()
    
    # Compute squared daily returns
    squared_daily_returns = daily_returns ** 2
    
    # Resample to weekly and sum up the squared daily returns
    weekly_volatility = squared_daily_returns.resample('W-FRI').sum()
    
    return weekly_volatility

In [153]:
yf.download(asset,start=IndexEndDays[5].date()-timedelta(days=780), end=IndexEndDays[5].date() + timedelta(days=1) , progress=False)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2005-12-20,1259.920044,1263.859985,1257.209961,1259.619995,1259.619995,1996690000
2005-12-21,1259.619995,1269.369995,1259.619995,1262.790039,1262.790039,2065170000
2005-12-22,1262.790039,1268.189941,1262.500000,1268.119995,1268.119995,1888500000
2005-12-23,1268.119995,1269.760010,1265.920044,1268.660034,1268.660034,1285810000
2005-12-27,1268.660034,1271.829956,1256.540039,1256.540039,1256.540039,1540470000
...,...,...,...,...,...,...
2008-02-04,1395.380005,1395.380005,1379.689941,1380.819946,1380.819946,3495780000
2008-02-05,1380.280029,1380.280029,1336.640015,1336.640015,1336.640015,4315740000
2008-02-06,1339.479980,1351.959961,1324.339966,1326.449951,1326.449951,4008120000
2008-02-07,1324.010010,1347.160034,1316.750000,1336.910034,1336.910034,4589160000
2008-02-08,1336.880005,1341.219971,1321.060059,1331.290039,1331.290039,3768490000

In [23]:
#Return calculation
def ReturnCalculation (Database,lag):
    dimension=Database.shape[0];dif=lag;Out=np.zeros([dimension-dif])
    for i in range(dimension-dif):
        Out[i]=(np.log(Database['Close'][i+dif])-np.log(Database['Close'][i]))
    return np.append(np.repeat(np.nan, dif),Out), Database.index

#STD Calculation
def SDCalculation (DailyReturns, LagSD):
    dimension=DailyReturns.shape[0]; dif=LagSD; Out=np.zeros([dimension-dif])
    for i in range (dimension-dif):
        Out[i]=np.std(DailyReturns[i:i+LagSD],ddof=1)
    return np.append(np.repeat(np.nan, dif),Out)

#STD Calculation
def TrueSDCalculation (DailyReturns, LagSD):
    dimension=DailyReturns.shape[0]; dif=LagSD; Out=np.zeros([dimension-dif+1])
    for i in range (dimension-dif+1):
        Out[i]=np.std(DailyReturns[i:i+LagSD],ddof=1)
    return np.append(Out,np.repeat(np.nan, dif-1))


#Database is calculated
def DatabaseGeneration (Database_daily, Lag):
    LagSD = 5
    DailyReturns, Index = ReturnCalculation(Database_daily,Lag)
    TrueSD = TrueSDCalculation(DailyReturns, LagSD)
    Data = pd.DataFrame({'DailyReturns': DailyReturns,'TrueSD': TrueSD})
    Data = Data.set_index(Index)
    Data = Data.dropna() 
    weekly_returns = Data['DailyReturns'].resample('W-FRI').sum()
    weekly_average_volatility = Data['TrueSD'].resample('W-FRI').mean()
    Data = pd.DataFrame({'DailyReturns': weekly_returns,'TrueSD': weekly_average_volatility})
    return Data.dropna()

In [22]:
Database_daily = yf.download(asset,start=IndexEndDays[5].date()-timedelta(days=780), end=IndexEndDays[5].date() + timedelta(days=1) , progress=False)
DatabaseGeneration(Database_daily, Lag)

NameError: name 'asset' is not defined

In [187]:

# asset_name = re.sub('[\W\d_]+', '', asset)
IndexEndDays=yf.download(asset,start=start,  end=end, progress=False).resample('W-FRI').last().index

Lag=1; LagSD=1; Timestep=10; Dropout=0; LearningRate=0.01; Epochs=100

DataValidation = ModifiedDatabaseGeneration(yf.download(asset,start='2000-01-01', end=date.today()+timedelta(days=1), progress=False).resample('W-FRI').last(), Lag, LagSD)

ResultsCollection=pd.DataFrame({'Date_Forecast': [], 'h1': [], 'h2': [], 'h3':[], 'h4': []})
#Loop for generating the results
for i in tqdm(range(IndexEndDays.shape[0])):
    #Database is downloaded from yahoo finance and lag of returns defined
    Database=yf.download(asset,start=IndexEndDays[i].date()-timedelta(days=780), end=IndexEndDays[i].date(), progress=False).resample('W-FRI').last()
    Database_daily = yf.download(asset,start=IndexEndDays[i].date()-timedelta(days=780), end=IndexEndDays[i].date() + timedelta(days=1) , progress=False)
    #Database for fitting the models is generated
    Data = DatabaseGeneration(Database_daily, Lag)
   
    #Fitting of Transformed ANN-ARCH model, ARCH models and forecasting of the next volatility value

    ARCH11, res_GARCH11, CV_GARCH11, GARCH = GARCH_Model_Student(Data)
    Date_Forcast = IndexEndDays[i]

    IterResults={'Date_Forecast':Date_Forcast.date(),'h1': GARCH[0][0]/100,'h2': GARCH[0][1]/100,'h3': GARCH[0][2]/100,'h4': GARCH[0][3]/100,'TrueSD':DataValidation[DataValidation.index==Date_Forcast]['TrueSD'][0]}
    
    IterResults_df = pd.DataFrame(IterResults,index =[0])
    ResultsCollection = ResultsCollection.append(IterResults_df, ignore_index=True)

    ResultsCollection.to_csv(f'./Evaluation/GCH_1.csv',index=False)

100%|██████████| 418/418 [06:20<00:00,  1.10it/s]

In [188]:
ResultsCollection

    Date_Forecast        h1        h2        h3        h4    TrueSD
0      2008-01-04  0.035083  0.035236  0.035390  0.035543  0.046276
1      2008-01-11  0.039411  0.039612  0.039812  0.040013  0.007545
2      2008-01-18  0.038726  0.038912  0.039097  0.039283  0.055645
3      2008-01-25  0.044049  0.044276  0.044502  0.044729  0.004082
4      2008-02-01  0.043346  0.043556  0.043767  0.043977  0.047558
..            ...       ...       ...       ...       ...       ...
413    2015-12-04  0.039024  0.039213  0.039403  0.039593  0.000756
414    2015-12-11  0.041596  0.041828  0.042060  0.042291  0.038659
415    2015-12-18  0.042208  0.042439  0.042670  0.042900  0.003395
416    2015-12-25  0.042033  0.042259  0.042485  0.042711  0.027268
417    2016-01-01  0.041696  0.041908  0.042119  0.042330  0.008307

[418 rows x 6 columns]

In [114]:
# Re-importing the test.csv dataset using the correct date column name
GARCH_1 = pd.read_csv('./Evaluation/GCH_1.csv', index_col='Date_Forecast', parse_dates=True)
GARCH_1

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2008-01-04     0.035083  0.035236  0.035390  0.035543  0.046276
2008-01-11     0.039411  0.039612  0.039812  0.040013  0.007545
2008-01-18     0.038726  0.038912  0.039097  0.039283  0.055645
2008-01-25     0.044049  0.044276  0.044502  0.044729  0.004082
2008-02-01     0.043346  0.043556  0.043767  0.043977  0.047558
...                 ...       ...       ...       ...       ...
2015-12-04     0.039024  0.039213  0.039403  0.039593  0.000756
2015-12-11     0.041596  0.041828  0.042060  0.042291  0.038659
2015-12-18     0.042208  0.042439  0.042670  0.042900  0.003395
2015-12-25     0.042033  0.042259  0.042485  0.042711  0.027268
2016-01-01     0.041696  0.041908  0.042119  0.042330  0.008307

[418 rows x 5 columns]

In [111]:
# Load the updated data
df_updated = GARCH_1.copy()
df_updated 
# Calculate MAE for each horizon
mae_h1_updated = np.mean(np.abs(df_updated['h1'] - df_updated['TrueSD']))
mae_h2_updated = np.mean(np.abs(df_updated['h2'] - df_updated['TrueSD'].shift(1))[1:])
mae_h3_updated = np.mean(np.abs(df_updated['h3'] - df_updated['TrueSD'].shift(2))[2:])
mae_h4_updated = np.mean(np.abs(df_updated['h4'] - df_updated['TrueSD'].shift(3))[3:])

# Calculate MAE of the naive forecast (using last known value)
mae_naive_updated = np.mean(np.abs(df_updated['TrueSD'].shift(1) - df_updated['TrueSD'])[1:])

# Compute MASE for each horizon
mase_h1_updated = mae_h1_updated / mae_naive_updated
mase_h2_updated = mae_h2_updated / mae_naive_updated
mase_h3_updated = mae_h3_updated / mae_naive_updated
mase_h4_updated = mae_h4_updated / mae_naive_updated

mase_h1_updated, mase_h2_updated, mase_h3_updated, mase_h4_updated

(3.2120436765154126, 3.533882150226689, 3.8874323982947816, 4.180662002952418)

In [112]:
df_updated

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2008-01-04     0.035083  0.035236  0.035390  0.035543  0.046276
2008-01-11     0.039411  0.039612  0.039812  0.040013  0.007545
2008-01-18     0.038726  0.038912  0.039097  0.039283  0.055645
2008-01-25     0.044049  0.044276  0.044502  0.044729  0.004082
2008-02-01     0.043346  0.043556  0.043767  0.043977  0.047558
...                 ...       ...       ...       ...       ...
2015-12-04     0.039024  0.039213  0.039403  0.039593  0.000756
2015-12-11     0.041596  0.041828  0.042060  0.042291  0.038659
2015-12-18     0.042208  0.042439  0.042670  0.042900  0.003395
2015-12-25     0.042033  0.042259  0.042485  0.042711  0.027268
2016-01-01     0.041696  0.041908  0.042119  0.042330  0.008307

[418 rows x 5 columns]

In [118]:
def calculate_mape(actual, predicted):
    """
    Calculate the Mean Absolute Percentage Error (MAPE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Mean Absolute Percentage Error (MAPE) value.
    """
    # Avoid division by zero by adding a small value to the denominator
    return np.mean(np.abs((actual - predicted) / (actual + 1e-10))) * 100

# Calculate MAPE for the h1 predictions from the updated dataset
mape_h1_example = calculate_mape(df_updated['TrueSD'], df_updated['h2'])
mape_h1_example

122.26374355819509

In [116]:
def calculate_mae(actual, predicted):
    """
    Calculate the Mean Absolute Error (MAE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Mean Absolute Error (MAE) value.
    """
    return np.mean(np.abs(actual - predicted))

# Calculate MAE for the h1 predictions from the updated dataset
mae_h1_example = calculate_mae(df_updated['TrueSD'], df_updated['h3'])
mae_h1_example

0.02126498686868323

In [122]:
import numpy as np

def calculate_rmse(actual, predicted):
    """
    Calculate the Root Mean Square Error (RMSE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Root Mean Square Error (RMSE) value.
    """
    return np.sqrt(np.mean((actual - predicted)**2))

In [186]:
## Merge with OG Garch student

GARCH_MPT = pd.read_csv('./test3.csv', index_col='Date_Forecast', parse_dates=True)
GARCH_MPT = GARCH_MPT.drop(GARCH_MPT.columns[4],axis=1)
# M_GARCH_MPT = GARCH_MPT.join(Results,how='inner')
GARCH_MPT

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-07     0.019081  0.018446  0.016232  0.015679  0.017943
2007-12-14     0.026084  0.025174  0.021728  0.031092  0.031468
2007-12-21     0.021149  0.024093  0.044406  0.037881  0.034526
2007-12-28     0.029847  0.061182  0.043643  0.048762  0.036502
2008-01-04     0.020937  0.018249  0.031042  0.023471  0.032903
...                 ...       ...       ...       ...       ...
2014-05-16     0.015769  0.021472  0.015873  0.023177  0.007535
2014-05-23     0.022483  0.034320  0.025396  0.045331  0.009153
2014-05-30     0.017290  0.019876  0.010259  0.024283  0.008594
2014-06-06     0.015495  0.015598  0.017082  0.020245  0.008001
2014-06-13     0.032942  0.025915  0.013233  0.030486  0.011934

[341 rows x 5 columns]

In [187]:
# Load the updated data
df_updated = GARCH_MPT.copy()
df_updated 
# Calculate MAE for each horizon
mae_h1_updated = np.mean(np.abs(df_updated['h1'] - df_updated['TrueSD']))
mae_h2_updated = np.mean(np.abs(df_updated['h2'] - df_updated['TrueSD'].shift(-1))[1:])
mae_h3_updated = np.mean(np.abs(df_updated['h3'] - df_updated['TrueSD'].shift(-2))[2:])
mae_h4_updated = np.mean(np.abs(df_updated['h4'] - df_updated['TrueSD'].shift(-3))[3:])

# Calculate MAE of the naive forecast (using last known value)
mae_naive_updated = np.mean(np.abs(df_updated['TrueSD'].shift(1) - df_updated['TrueSD'])[1:])

# Compute MASE for each horizon
mase_h1_updated = mae_h1_updated / mae_naive_updated
mase_h2_updated = mae_h2_updated / mae_naive_updated
mase_h3_updated = mae_h3_updated / mae_naive_updated
mase_h4_updated = mae_h4_updated / mae_naive_updated

mase_h1_updated, mase_h2_updated, mase_h3_updated, mase_h4_updated

(2.0395419037027347,
 2.1257703730109414,
 2.0937551732779727,
 2.1371336765616906)

In [189]:
# Convert the index to datetime format

# Resample to monthly frequency
df_monthly = df_updated.resample('M').last()

df_monthly.head()

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-31     0.029847  0.061182  0.043643  0.048762  0.036502
2008-01-31     0.014957  0.021585  0.026380  0.026099  0.022342
2008-02-29     0.033522  0.021799  0.030754  0.030174  0.047711
2008-03-31     0.028402  0.030461  0.045971  0.026258  0.024677
2008-04-30     0.032629  0.014826  0.014983  0.015091  0.015818

In [173]:
# Adjust the compute_monthly_mase function to use a constant naive forecast for each horizon
def compute_direct_monthly_mase(row, forecast_col, actual_col='TrueSD', naive_forecast_col='naive_forecast'):
    """
    Compute MASE for a given month using a specific forecast column for direct multi-step forecasting.
    """
    mae = np.abs(row[forecast_col] - row[actual_col])
    mae_naive = np.abs(row[naive_forecast_col] - row[actual_col])
    return mae / mae_naive

# Add a column for naive forecast (previous month's TrueSD value)
df_monthly['naive_forecast'] = df_monthly['TrueSD'].shift(1)

# Compute monthly MASE for each forecast horizon using the adjusted function
mase_h1_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h1', axis=1)
mase_h2_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h2', axis=1)
mase_h3_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h3', axis=1)
mase_h4_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h4', axis=1)

# Combine into a DataFrame for better visualization
mase_direct_monthly_df = pd.DataFrame({
    'MASE_h1': mase_h1_direct_monthly,
    'MASE_h2': mase_h2_direct_monthly,
    'MASE_h3': mase_h3_direct_monthly,
    'MASE_h4': mase_h4_direct_monthly
})

mase_direct_monthly_df.head()

                MASE_h1   MASE_h2   MASE_h3   MASE_h4
Date_Forecast
2007-12-31          NaN       NaN       NaN       NaN
2008-01-31     0.521489  0.053456  0.285210  0.265308
2008-02-29     0.559273  1.021401  0.668398  0.691255
2008-03-31     0.161704  0.251111  0.924483  0.068644
2008-04-30     1.897568  0.111999  0.094284  0.082056

### Evaluate original Daily MPT GARCH

In [184]:
# Re-importing the test.csv dataset using the correct date column name
GARCH_OG = pd.read_csv('/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/5_MTL_GARCH_AAPL.csv', index_col='Date_Forecast', parse_dates=True)
# GARCH_OG = GARCH_OG[['Forecast_T_ANN_ARCH','TrueSD']]
GARCH_OG

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-14     0.036723  0.042510  0.035440  0.036478  0.021336
2007-12-28     0.034850  0.068866  0.043401  0.041632  0.078664
2008-01-04     0.042266  0.040022  0.041769  0.037158  0.103452
2008-01-04     0.032792  0.034442  0.033476  0.036393  0.097676
2008-01-18     0.046529  0.032525  0.041137  0.038367  0.023060
...                 ...       ...       ...       ...       ...
2015-11-20     0.041264  0.036400  0.052939  0.051809  0.014581
2015-11-27     0.036896  0.031423  0.026599  0.017492  0.026239
2015-12-04     0.028170  0.018024  0.026134  0.032488  0.029364
2015-12-11     0.033814  0.036099  0.032120  0.036656  0.020586
2015-12-18     0.026057  0.030535  0.017088  0.024313  0.037058

[418 rows x 5 columns]

In [185]:
calculate_rmse(GARCH_OG['h1'],GARCH_OG['TrueSD'])

0.02730278100949525