In [33]:
import pandas as pd
import numpy as np
from datetime import date, datetime, timedelta

## MPT - GARCH

In [3]:
# Re-importing the test.csv dataset using the correct date column name

# Path = 'test4.csv'
assets = ['DHR','GILD','ISRG','JNJ','LLY','PFE','REGN','TMO','AZN','MRK'] 
asset = 'DHR'
Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/MPT-GARCH/final/5_MTL_GARCH_{}.csv'.format(asset)
# Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/GARCH/GARCH_{}.csv'.format(asset)
# Path = './Evaluation/GCH_1.csv'
GARCH_mpt = pd.read_csv(Path, index_col='Date_Forecast', parse_dates=True)
GARCH_mpt

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-28     0.040823  0.046994  0.022860  0.032679  0.021739
2008-01-04     0.026175  0.021890  0.023069  0.031169  0.037096
2008-01-11     0.026458  0.016188  0.032649  0.022329  0.045272
2008-01-18     0.026837  0.019938  0.027050  0.016868  0.033410
2008-01-25     0.031670  0.027283  0.025233  0.032141  0.022480
...                 ...       ...       ...       ...       ...
2015-11-27     0.020455  0.026958  0.026176  0.031186  0.011314
2015-12-04     0.023041  0.054805  0.042789  0.045970  0.030199
2015-12-11     0.026475  0.030140  0.020500  0.032568  0.025063
2015-12-18     0.019788  0.025220  0.034996  0.021071  0.032654
2015-12-25     0.022315  0.031230  0.051194  0.041475  0.015219

[418 rows x 5 columns]

## Monthly Aggregation

In [48]:
# Convert the index to datetime format

# Resample to monthly frequency
df_monthly = df_updated.resample('M').median()* np.sqrt(4)
df_monthly = df_monthly[['h4','TrueSD']]
df_monthly.head()

                     h4    TrueSD
Date_Forecast
2007-12-31     0.065359  0.043478
2008-01-31     0.053499  0.070506
2008-02-29     0.046198  0.053232
2008-03-31     0.054741  0.084540
2008-04-30     0.055467  0.073553

In [47]:
df_monthly['TrueSD']

Date_Forecast
2007-12-31    0.043478
2008-01-31    0.070506
2008-02-29    0.053232
2008-03-31    0.084540
2008-04-30    0.073553
                ...
2015-08-31    0.060775
2015-09-30    0.065986
2015-10-31    0.046891
2015-11-30    0.028202
2015-12-31    0.055262
Freq: M, Name: TrueSD, Length: 97, dtype: float64

In [46]:
df_monthly['TrueSD'].shift(1)

Date_Forecast
2007-12-31         NaN
2008-01-31    0.043478
2008-02-29    0.070506
2008-03-31    0.053232
2008-04-30    0.084540
                ...
2015-08-31    0.050104
2015-09-30    0.060775
2015-10-31    0.065986
2015-11-30    0.046891
2015-12-31    0.028202
Freq: M, Name: TrueSD, Length: 97, dtype: float64

In [ ]:
## RMSE

In [49]:
# Load the updated data
df_updated2 = df_monthly.copy()
df_updated2
def MASE(df_updated):
    # Calculate MAE for each horizon
    mae_h4_updated = np.mean(np.abs(df_updated['h4'] - df_updated['TrueSD']))


    # Calculate MAE of the naive forecast (using last known value)
    mae_naive_updated = np.mean(np.abs(df_updated['TrueSD'].shift(1) - df_updated['TrueSD']))


    # Compute MASE for each horizon
    mase_h4_updated = mae_h4_updated / mae_naive_updated

    return mase_h4_updated

MASE(df_updated2)

1.1922357573026399

In [6]:
# Load the updated data
df_updated = GARCH_mpt.copy()
df_updated 
def MASE(df_updated):
    # Calculate MAE for each horizon
    mae_h1_updated = np.mean(np.abs(df_updated['h1'] - df_updated['TrueSD']))
    mae_h2_updated = np.mean(np.abs(df_updated['h2'] - df_updated['TrueSD'].shift(-1))[1:])
    mae_h3_updated = np.mean(np.abs(df_updated['h3'] - df_updated['TrueSD'].shift(-2))[2:])
    mae_h4_updated = np.mean(np.abs(df_updated['h4'] - df_updated['TrueSD'].shift(-3))[3:])

    # Calculate MAE of the naive forecast (using last known value)
    mae_naive_updated = np.mean(np.abs(df_updated['TrueSD'].shift(1) - df_updated['TrueSD'])[1:])
    mae_naive_updated_2 = np.mean(np.abs(df_updated['TrueSD'].shift(2) - df_updated['TrueSD'])[2:])
    mae_naive_updated_3 = np.mean(np.abs(df_updated['TrueSD'].shift(3) - df_updated['TrueSD'])[3:])
    mae_naive_updated_4 = np.mean(np.abs(df_updated['TrueSD'].shift(4) - df_updated['TrueSD'])[4:])

    # Compute MASE for each horizon
    mase_h1_updated = mae_h1_updated / mae_naive_updated
    mase_h2_updated = mae_h2_updated / mae_naive_updated_2
    mase_h3_updated = mae_h3_updated / mae_naive_updated_3
    mase_h4_updated = mae_h4_updated / mae_naive_updated_4

    return mase_h1_updated, mase_h2_updated, mase_h3_updated, mase_h4_updated

MASE(df_updated)

(1.4859499496852302, 1.1827564422023769, 1.099806356132244, 1.0862948621871409)

In [7]:
(1.4859499496852302, 1.1827564422023769, 1.099806356132244, 1.0862948621871409)

(1.4859499496852302, 1.1827564422023769, 1.099806356132244, 1.0862948621871409)

In [8]:

Results=pd.DataFrame({'Asset':[], 'h1': [], 'h2': [], 'h3':[], 'h4': []})
for asset in assets:
    Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/MPT-GARCH/final/5_MTL_GARCH_{}.csv'.format(asset)
    # Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/GARCH/GARCH_{}.csv'.format(asset)
    GARCH_mpt = pd.read_csv(Path, index_col='Date_Forecast', parse_dates=True)
    
    IterResults={'Asset': asset, 'h1': MASE(GARCH_mpt)[0], 'h2': MASE(GARCH_mpt)[1], 'h3':MASE(GARCH_mpt)[2], 'h4': MASE(GARCH_mpt)[3]}
    
    IterResults_df = pd.DataFrame(IterResults,index =[0])
    Results= Results.append(IterResults_df, ignore_index=True)

In [9]:
Results

  Asset        h1        h2        h3        h4
0   DHR  1.485950  1.182756  1.099806  1.086295
1  GILD  1.053806  0.966878  0.899322  0.845316
2  ISRG  1.129368  0.913126  0.849293  0.811154
3   JNJ  2.035398  1.550435  1.469090  1.397859
4   LLY  1.521953  1.260595  1.205406  1.186905
5   PFE  1.555234  1.316764  1.185986  1.146376
6  REGN  1.087335  0.914268  0.834713  0.859639
7   TMO  1.468622  1.154070  1.104948  1.094249
8   AZN  1.302808  1.037000  1.046761  1.049931
9   MRK  1.471948  1.180147  1.086837  1.035630

In [10]:
Assest =  ['DHR','GILD','ISRG','JNJ','LLY','PFE','REGN','TMO','AZN','MRK'] 
mask = Results['Asset'].isin(Assest)
Result = Results[mask]
Result.T

,0,1,2,3,4,5,6,7,8,9
Asset,DHR,GILD,ISRG,JNJ,LLY,PFE,REGN,TMO,AZN,MRK
h1,1.48595,1.05381,1.12937,2.0354,1.52195,1.55523,1.08733,1.46862,1.30281,1.47195
h2,1.18276,0.966878,0.913126,1.55044,1.2606,1.31676,0.914268,1.15407,1.037,1.18015
h3,1.09981,0.899322,0.849293,1.46909,1.20541,1.18599,0.834713,1.10495,1.04676,1.08684
h4,1.08629,0.845316,0.811154,1.39786,1.18691,1.14638,0.859639,1.09425,1.04993,1.03563

## RMSE

In [11]:
import numpy as np

def RMSE(actual, predicted):
    """
    Calculate the Root Mean Square Error (RMSE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Root Mean Square Error (RMSE) value.
    """
    return round(np.sqrt(np.mean((actual - predicted)**2)),5)*100

In [12]:

Results=pd.DataFrame({'Asset':[], 'h1': [], 'h2': [], 'h3':[], 'h4': []})
for asset in assets:
    Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/MPT-GARCH/final/5_MTL_GARCH_{}.csv'.format(asset)
    # Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/GARCH/final/GARCH_{}.csv'.format(asset)
    GARCH_mpt = pd.read_csv(Path, index_col='Date_Forecast', parse_dates=True)
    
    IterResults={'Asset': asset, 'h1': RMSE(GARCH_mpt['TrueSD'],GARCH_mpt['h1']), 'h2':RMSE(GARCH_mpt['TrueSD'].shift(-1),GARCH_mpt['h2']), 'h3':RMSE(GARCH_mpt['TrueSD'].shift(-2),GARCH_mpt['h3']), 'h4': RMSE(GARCH_mpt['TrueSD'].shift(-3),GARCH_mpt['h4'])}
    
    IterResults_df = pd.DataFrame(IterResults,index =[0])
    Results= Results.append(IterResults_df, ignore_index=True)

In [13]:
Results.T

           0      1      2      3      4      5      6      7      8      9
Asset    DHR   GILD   ISRG    JNJ    LLY    PFE   REGN    TMO    AZN    MRK
h1     2.053  2.482  3.333    1.8  2.158  1.951  3.361  2.375  2.063  2.324
h2     2.096  2.512  3.366  1.765  2.194  1.939  3.334  2.358  2.073  2.382
h3     2.046  2.473  3.307  1.875  2.192  2.015   3.36  2.409  2.153   2.35
h4     2.064  2.492  3.324  1.853  2.291  1.996   3.32  2.474  2.147  2.324

### MAPE

In [14]:
def MAPE(actual, predicted):
    """
    Calculate the Mean Absolute Percentage Error (MAPE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Mean Absolute Percentage Error (MAPE) value.
    """
    # Avoid division by zero by adding a small value to the denominator
    return round(np.mean(np.abs((actual - predicted) / (actual + 1e-10))) * 100,2)

In [15]:

Results=pd.DataFrame({'Asset':[], 'h1': [], 'h2': [], 'h3':[], 'h4': []})
for asset in assets:
    Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/MPT-GARCH/final/5_MTL_GARCH_{}.csv'.format(asset)
    # Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/GARCH/GARCH_{}.csv'.format(asset)
    GARCH_mpt = pd.read_csv(Path, index_col='Date_Forecast', parse_dates=True)
    
    IterResults={'Asset': asset, 'h1': MAPE(GARCH_mpt['TrueSD'],GARCH_mpt['h1']), 'h2':MAPE(GARCH_mpt['TrueSD'].shift(-1),GARCH_mpt['h2']), 'h3':MAPE(GARCH_mpt['TrueSD'].shift(-2),GARCH_mpt['h3']), 'h4': MAPE(GARCH_mpt['TrueSD'].shift(-3),GARCH_mpt['h4'])}
    
    IterResults_df = pd.DataFrame(IterResults,index =[0])
    Results= Results.append(IterResults_df, ignore_index=True)   
Results.T

           0      1      2       3      4      5      6      7      8      9
Asset    DHR   GILD   ISRG     JNJ    LLY    PFE   REGN    TMO    AZN    MRK
h1     62.53  46.79  54.72   98.06  66.47  59.47  42.42  55.81  53.84  63.18
h2     62.27  49.07  55.16    97.1  65.33  61.82  43.07  54.97  53.86  65.96
h3     61.39  47.52  55.12  106.59  67.83   59.7  42.82  57.44  54.67  63.14
h4     59.98  48.74  55.19  103.38  68.28  58.82  41.88  59.01   57.1  65.07

In [16]:
GARCH_mpt

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-28     0.039710  0.053568  0.031438  0.031573  0.017943
2008-01-04     0.032443  0.031496  0.025651  0.030421  0.034218
2008-01-11     0.028816  0.026623  0.023627  0.033394  0.037298
2008-01-18     0.038898  0.033138  0.055927  0.032474  0.049655
2008-01-25     0.027066  0.038244  0.026868  0.035298  0.061717
...                 ...       ...       ...       ...       ...
2015-11-27     0.036551  0.021037  0.025884  0.033671  0.037649
2015-12-04     0.028501  0.050301  0.024922  0.036339  0.040922
2015-12-11     0.037344  0.038828  0.055002  0.028928  0.042529
2015-12-18     0.019549  0.014983  0.022011  0.025874  0.040631
2015-12-25     0.021639  0.023631  0.018538  0.016193  0.016721

[418 rows x 5 columns]

In [17]:
RMSE(GARCH_mpt['TrueSD'],GARCH_mpt['h1'])

2.324

## RMPSE

In [18]:
def RMPSE(actual, predicted):
    """
    Calculate the Mean Absolute Percentage Error (MAPE) between actual and predicted values.
    
    Parameters:
    - actual (array-like): The true values.
    - predicted (array-like): The predicted values.
    
    Returns:
    - Mean Absolute Percentage Error (MAPE) value.
    """
    # Avoid division by zero by adding a small value to the denominator
    return round((np.sqrt(np.mean(np.square((actual - predicted) / actual)))) * 100,2)

In [19]:

Results=pd.DataFrame({'Asset':[], 'h1': [], 'h2': [], 'h3':[], 'h4': []})
for asset in assets:
    Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/MPT-GARCH/final/5_MTL_GARCH_{}.csv'.format(asset)
    # Path = '/Users/lesegomatojane/Documents/MIT807/Muliti-transformer/MultiTransformer-master/MultiTransformer/Train/assets/Drop001/GARCH/GARCH_{}.csv'.format(asset)
    GARCH_mpt = pd.read_csv(Path, index_col='Date_Forecast', parse_dates=True)
    
    IterResults={'Asset': asset, 'h1': MAPE(GARCH_mpt['TrueSD'],GARCH_mpt['h1']), 'h2':MAPE(GARCH_mpt['TrueSD'].shift(-1),GARCH_mpt['h2']), 'h3':MAPE(GARCH_mpt['TrueSD'].shift(-2),GARCH_mpt['h3']), 'h4': MAPE(GARCH_mpt['TrueSD'].shift(-3),GARCH_mpt['h4'])}
    
    IterResults_df = pd.DataFrame(IterResults,index =[0])
    Results= Results.append(IterResults_df, ignore_index=True)   
Results.T

           0      1      2       3      4      5      6      7      8      9
Asset    DHR   GILD   ISRG     JNJ    LLY    PFE   REGN    TMO    AZN    MRK
h1     62.53  46.79  54.72   98.06  66.47  59.47  42.42  55.81  53.84  63.18
h2     62.27  49.07  55.16    97.1  65.33  61.82  43.07  54.97  53.86  65.96
h3     61.39  47.52  55.12  106.59  67.83   59.7  42.82  57.44  54.67  63.14
h4     59.98  48.74  55.19  103.38  68.28  58.82  41.88  59.01   57.1  65.07

# Aggregate Monthly

In [20]:
# Convert the index to datetime format

# Resample to monthly frequency
df_monthly = df_updated.resample('M').median()

df_monthly.head()

                     h1        h2        h3        h4    TrueSD
Date_Forecast
2007-12-31     0.040823  0.046994  0.022860  0.032679  0.021739
2008-01-31     0.026648  0.020914  0.026141  0.026749  0.035253
2008-02-29     0.022186  0.020165  0.022047  0.023099  0.026616
2008-03-31     0.024153  0.024055  0.030547  0.027370  0.042270
2008-04-30     0.036804  0.031306  0.032870  0.027734  0.036777

In [21]:
# Adjust the compute_monthly_mase function to use a constant naive forecast for each horizon
def compute_direct_monthly_mase(row, forecast_col, actual_col='TrueSD', naive_forecast_col='naive_forecast'):
    """
    Compute MASE for a given month using a specific forecast column for direct multi-step forecasting.
    """
    mae = np.abs(row[forecast_col] - row[actual_col])
    mae_naive = np.abs(row[naive_forecast_col] - row[actual_col])
    return mae / mae_naive

# Add a column for naive forecast (previous month's TrueSD value)
df_monthly['naive_forecast'] = df_monthly['TrueSD'].shift(1)

# Compute monthly MASE for each forecast horizon using the adjusted function
mase_h1_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h1', axis=1)
mase_h2_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h2', axis=1)
mase_h3_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h3', axis=1)
mase_h4_direct_monthly = df_monthly.apply(compute_direct_monthly_mase, forecast_col='h4', axis=1)

# Combine into a DataFrame for better visualization
mase_direct_monthly_df = pd.DataFrame({
    'MASE_h1': mase_h1_direct_monthly,
    'MASE_h2': mase_h2_direct_monthly,
    'MASE_h3': mase_h3_direct_monthly,
    'MASE_h4': mase_h4_direct_monthly
})

mase_direct_monthly_df

                MASE_h1   MASE_h2   MASE_h3   MASE_h4
Date_Forecast
2007-12-31          NaN       NaN       NaN       NaN
2008-01-31     0.636786  1.061056  0.674236  0.629257
2008-02-29     0.512887  0.746921  0.529039  0.407188
2008-03-31     1.157360  1.163584  0.748861  0.951814
2008-04-30     0.004985  0.996014  0.711271  1.646268
...                 ...       ...       ...       ...
2015-08-31     0.732947  0.025970  0.250992  0.839880
2015-09-30     1.448909  4.022660  2.372548  3.545067
2015-10-31     0.811069  0.116158  0.273447  0.645864
2015-11-30     0.817720  1.200335  1.081097  0.542059
2015-12-31     0.366051  0.225710  0.832388  0.694058

[97 rows x 4 columns]

In [22]:
# Load the updated data
monthly_mase = df_monthly.copy()

def MASE_monthly(df_updated):
    # Calculate MAE for each horizon

    mae_h4_updated = np.mean(np.abs(df_updated['h4'] - df_updated['TrueSD']))

    # Calculate MAE of the naive forecast (using last known value)
    mae_naive_updated_4 = np.mean(np.abs(df_updated['TrueSD'].shift(4) - df_updated['TrueSD']))

    # Compute MASE for each horizon
    mase_h4_updated = mae_h4_updated / mae_naive_updated_4

    return mase_h4_updated


MASE_monthly(monthly_mase)

0.8841791574524929

In [23]:
import plotly.graph_objects as go

# Create the interactive line plot using Plotly
fig = go.Figure()


fig.add_trace(go.Scatter(x=mase_direct_monthly_df.index, y=mase_direct_monthly_df['MASE_h4'], mode='lines+markers', name='MASE_h4', marker=dict(symbol='cross')))

# Add a horizontal line at MASE=1 for reference
fig.add_shape(
    type='line',
    line=dict(dash='dash', color='black'),
    x0=mase_direct_monthly_df.index[0],
    x1=mase_direct_monthly_df.index[-1],
    y0=1,
    y1=1
)

# Update the layout for transparent background, black fonts, and other stylistic choices
fig.update_layout(
    title='MASE values for Different Forecast Horizons over Time',
    xaxis_title='Date',
    yaxis_title='MASE',
    template="none",
    yaxis=dict(type='log', gridcolor='gray', tickcolor='gray', tickfont=dict(color='black', size=12)),
    xaxis=dict(gridcolor='gray', tickcolor='gray', tickfont=dict(color='black', size=12)),
    plot_bgcolor='rgba(0,0,0,0)',     # Transparent background for the plot area
    paper_bgcolor='rgba(0,0,0,0)',   # Transparent background for the whole figure
    font=dict(color='black', size=12, family='Sans Serif'),
    legend=dict(font=dict(color='black', size=15, family='Sans Serif'))
)

fig.show()

In [24]:
import plotly.graph_objects as go

# Create the interactive line plot using Plotly
fig = go.Figure()

# Add lines for each forecast horizon with different markers
fig.add_trace(go.Scatter(x=mase_direct_monthly_df.index, y=mase_direct_monthly_df['MASE_h1'], mode='lines+markers', name='MASE_h1', marker=dict(symbol='circle')))
fig.add_trace(go.Scatter(x=mase_direct_monthly_df.index, y=mase_direct_monthly_df['MASE_h2'], mode='lines+markers', name='MASE_h2', marker=dict(symbol='square')))
fig.add_trace(go.Scatter(x=mase_direct_monthly_df.index, y=mase_direct_monthly_df['MASE_h3'], mode='lines+markers', name='MASE_h3', marker=dict(symbol='diamond')))
fig.add_trace(go.Scatter(x=mase_direct_monthly_df.index, y=mase_direct_monthly_df['MASE_h4'], mode='lines+markers', name='MASE_h4', marker=dict(symbol='cross')))

# Add a horizontal line at MASE=1 for reference
fig.add_shape(
    type='line',
    line=dict(dash='dash', color='white'),
    x0=mase_direct_monthly_df.index[0],
    x1=mase_direct_monthly_df.index[-1],
    y0=1,
    y1=1
)

# Update the layout for transparent background and other stylistic choices
fig.update_layout(
    title='MASE values for Different Forecast Horizons over Time',
    xaxis_title='Date',
    yaxis_title='MASE',
    template="none",
    yaxis=dict(type='log', gridcolor='gray', tickcolor='gray', tickfont=dict(color='black')),
    xaxis=dict(gridcolor='gray', tickcolor='gray', tickfont=dict(color='black')),
    plot_bgcolor='rgba(0,0,0,0)',     # Transparent background for the plot area
    paper_bgcolor='rgba(0,0,0,0)',   # Transparent background for the whole figure
    font=dict(color='black'),
    legend=dict(font=dict(color='black'))
)

fig.show()

In [25]:
import pandas as pd
from scipy.stats import skew, kurtosis
import numpy as np

def round_to_sf(number, sf):
    """Round number to specified significant figures."""
    return round(number, sf - int(np.floor(np.log10(abs(number)))) - 1)

def compute_summary_statistics(stock_data):
    """
    Compute summary statistics for weekly returns of multiple stocks.

    Parameters:
    - stock_data: DataFrame where columns are stock tickers and rows represent weekly returns.

    Returns:
    - summary_df: DataFrame with summary statistics for each stock.
    """
    # Initializing an empty DataFrame for summary statistics
    summary_df = pd.DataFrame(index=['Min', 'Max', 'Mean', 'Std', 'Skewness', 'Kurtosis'])

    # Looping through each stock and computing the statistics
    for stock in stock_data.columns:
        stock_returns = stock_data[stock].dropna()  # Remove NaN values
        stats = {
            'Min': round_to_sf(stock_returns.min(), 4),
            'Max': round_to_sf(stock_returns.max(), 4),
            'Mean': round_to_sf(stock_returns.mean(), 4),
            'Std': round_to_sf(stock_returns.std(), 4),
            'Skewness': round_to_sf(skew(stock_returns), 4),
            'Kurtosis': round_to_sf(kurtosis(stock_returns), 4)
        }
        summary_df[stock] = stats.values()

    return summary_df

# Example usage:
# Assuming 'weekly_returns_df' is your DataFrame containing weekly returns for multiple stocks
# summary_statistics = compute_summary_statistics(weekly_returns_df)
# print(summary_statistics)

In [26]:
import yfinance as yf

Start='2008-01-01'; End='2015-12-31'; 
asset = ['^GSPC','AAPL' ,'MSFT' ,'NVDA', 'JNJ', 'NVS' ,'JPM' ,'GS' ,'AMZN']
Database=yf.download(asset,Start, End, progress=False).resample('W-FRI').last()['Adj Close']
Database
# compute_summary_statistics(Database)

,AAPL,AMZN,GS,JNJ,JPM,MSFT,NVDA,NVS,^GSPC
Date,,,,,,,,,
2008-01-04,5.458065,4.439500,155.722641,41.469311,27.268015,25.068100,6.880692,27.101757,1411.630005
2008-01-11,5.234954,4.054000,154.795792,42.754204,27.221386,24.725409,6.204093,28.675022,1401.020020
2008-01-18,4.891492,3.988000,145.815262,41.752739,26.375301,24.069164,5.697215,26.483334,1325.189941
2008-01-25,3.941144,3.880000,149.317734,39.340416,29.073448,24.018127,5.722443,24.855644,1330.609985
2008-02-01,4.054520,3.731500,162.121750,39.907272,32.144684,22.202549,6.160515,24.949642,1395.420044
...,...,...,...,...,...,...,...,...,...
2015-12-04,27.126707,33.632000,163.150940,83.646179,54.160393,49.786156,8.237807,57.215130,2091.689941
2015-12-11,25.793507,32.007500,151.618118,82.614311,51.112938,48.138779,7.930265,56.087013,2012.369995
2015-12-18,24.164038,33.207001,150.699265,82.833694,51.376202,48.201115,7.844831,56.252914,2005.550049
2015-12-25,24.619831,33.139500,156.693222,84.271820,53.131287,49.572441,8.096240,57.381023,2060.989990
2016-01-01,24.458023,34.453499,156.298218,84.320549,53.123322,50.142326,8.149939,58.084442,2063.360107

In [27]:
Database.to_csv('ADF_test.csv')

In [28]:
compute_summary_statistics(Database).T

           Min       Max      Mean      Std  Skewness  Kurtosis
AAPL     2.496    29.940    13.420    7.755    0.4380   -0.8865
AMZN     1.893    34.450    11.430    6.893    0.9750    0.8896
GS      41.880   181.800   123.900   28.730   -0.4008   -0.4019
JNJ     31.340    85.630    54.880   16.360    0.6116   -1.2350
JPM     11.040    54.820    33.790    9.614    0.4976   -0.7281
MSFT    11.420    50.140    25.860    8.561    0.8842   -0.1600
NVDA     1.463     8.238     3.752    1.226    0.9633    1.3070
NVS     18.490    70.210    39.060   14.220    0.6825   -0.8439
^GSPC  683.400  2127.000  1450.000  382.100    0.3101   -1.0230

In [29]:
import numpy as np

# Redefining the given functions and the example data
def ReturnCalculation(Database, Lag):
    # Dummy return calculation function for the example
    # In a real scenario, this function calculates the returns based on the given lag
    return Database, list(range(len(Database)))

def SDCalculation(DailyReturns, LagSD):
    dimension = len(DailyReturns)
    dif = LagSD
    Out = np.zeros([dimension-dif])
    for i in range(dimension-dif):
        Out[i] = np.std(DailyReturns[i:i+LagSD], ddof=1)
    return np.append(np.repeat(np.nan, dif), Out)

def TrueSDCalculation(DailyReturns, LagSD):
    dimension = len(DailyReturns)
    dif = LagSD
    Out = np.zeros([dimension-dif+1])
    for i in range(dimension-dif+1):
        Out[i] = np.std(DailyReturns[i:i+LagSD], ddof=1)
    return np.append(Out, np.repeat(np.nan, dif-1))

# Example data
DailyReturns = [1, 2, 4.5, 7.3, 3.1, 6.1,3, 7.1, 4.8, 6.9, 10]
LagSD = 3

# Calculations
sd_values = SDCalculation(DailyReturns, LagSD)
true_sd_values = TrueSDCalculation(DailyReturns, LagSD)

sd_values, true_sd_values

(array([       nan,        nan,        nan, 1.80277564, 2.65141472,
        2.13853532, 2.16333077, 1.76162803, 2.13775583, 2.05507502,
        1.27410099]),
 array([1.80277564, 2.65141472, 2.13853532, 2.16333077, 1.76162803,
        2.13775583, 2.05507502, 1.27410099, 2.61597655,        nan,
               nan]))